{% extends "base.html"%}
{% block content %}
<h2>{{ movie.titre}}<span class="small"> de type {{movie.categorie.nom}}</span></h2>

<p class="info">Réalisé par {{movie.realisateur}} sortie le {{movie.release_date|date:"DATE_FORMAT"}}</p>
<div class="contenu">{{movie.resume|linebreaks}}</div>
{% if user.is_authenticated %}
<p><a href="{{movie.id}}/comments"> laissez votre avis </a></p>
{%endif%}
{% for comment in comments %}
{%if comment.movie = movie %}	
<div class="comments">
<h3>{{comment.titre}}</h3>
<p>{{comment.contenu}}</p>
<p>{{comment.author.username}}</p>
{%endif%}
{% endfor %}
{% endblock %}
