<form action="/signin" method="post">{%csrf_token%}
  <div style="margin:0;padding:0;display:inline">
<input name="authenticity_token" type="hidden" value="zM6XXrqjTRBHKs37Q2wpxy5afLWgGM1DQV/2Vdo45PA=" />
</div>      <p>      <label for="Username or E-Mail">Username or e-mail</label> : <br />
        <input autocapitalize="off" class="title" id="username" maxlength="50" name="username" size="20" type="text" />
      </p>
		<p>
	  
        <label id="lab" for="Password">Password</label> : <br />
        <input class="title" id="user_password" maxlength="15" name="password" size="20" type="password" />
      </p>      <div class="span-10 clear prepend-top">
        <div style="margin-left:95px;">
          <input class="ok" name="commit" type="submit" value="OK" id="ok" />
          <a href="/" class="cancel" data-role="button">Cancel</a>
        </div>
   </div>
   
											
   
  
   <script  src="http://code.jquery.com/jquery-2.0.3.min.js"></script> 
   <script type="text/javascript">
   //il est plus conseillé de créer des variable à la place d'utiliser plusieurs $!!!
   
   function test (){
   
  if($("#password").val().length<6){
	$("#lab").css("color","red");
		$("#ok").attr("disabled",true);

		

	}
 else{
	$("#lab").css("color","black");
	$("#ok").attr("disabled",false);
	}
  }
  test();
   
   
   console.log("jquery ok");
   
   $("#password").bind("keyup",test);
  
  
	
			
   
   </script>
   
</form>

