<!DOCTYPE html>
<html>
	<head>	
		<meta charset="utf-8"/>
		<title> Cinecritics </title>
		<link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all">
		
	</head>
	
	<body>
		
		<h1 id="title"> Bienvenue </h1>
		
		<!-- Side menu --> 
		<div id="menu">
			<ul >
				<li> <a href="#home">home</a> </li>
				<li> <a href="allocine.fr">films</a> </li>
				<li> <a href="zone-telechargement">Series</a> </li>
				<li> <a href="www.mangas.fr/‎" >Mangas</a> </li>
				<li> <a href="http://eurosport.fr" >Sports</a> </li>
				

			</ul>
		</div>

=======

<div id="connexion">
<h2> Connectez vous </h2>

{% if error %}
<p><strong> id ou mdp incorrect</strong></p>
{% else %}
{%if user.is_authenticated %}
<p>Vous êtes connecté, {{user.username}} ! </p> 
<p> <a href = "/deconnexion"> deconnexion </a></p>
{% else %}
<form method="post" action=".">
{% csrf_token %}
{{form.as_p}}
<input type = "submit"/>
</form>
{% endif %}
{% endif %}

	</div>
	</body>
</html>
