body { background-color:#386AC7 }

p
{
	color: white;
}
#site-name{
	text-align: center
}

#movieTitle {
	color: #000000 ;
	text-align: right
}

nav#menu{
	float:top-left;
	width:33%
	
}

div#connexion 
{	
	float:right;
	width: 33%
}

div#center{

	overflow=hidden;
}

div#pieddepage {
	color:#000000;
	text-align:center
}

