<!DOCTYPE html>
<html>
	<head>	
		<meta charset="utf-8"/>
		<title> Cinecritics - tv shows </title>
		<link href="style.css" rel="stylesheet" type="text/css">
		
	</head>
	
	<body>
		
		<h1 id="title"> Bienvenue dans le menu série </h1>
		
		<!-- Side menu --> 
		<div id="menu">
			<ul >
				<li> <a href="#home">home</a> </li>
				<li> <a href="allocine.fr">films</a> </li>
				<li> <a href="zone-telechargement">Series</a> </li>
				<li> <a href="www.mangas.fr/‎" >Mangas</a> </li>
				<li> <a href="http://eurosport.fr" >Sports</a> </li>
			</ul>
		</div>
		
	</body>
</html>